[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
selenium = "*"
flask-session = "*"
ipdb = "*"
chardet = "*"
simplejson = "*"
urllib3 = "*"
pyopenssl = "*"
pycryptodome = "*"
pyrebase4 = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
