[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
selenium = "*"
flask-session = "*"
firebase-admin = "*"
requests-toolbelt = "*"
pycryptodome = "*"
importlib-resources = "*"
ipdb = "*"
requests = "*"
pyrebase4 = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
